{% load static %}<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <title>{% block title %}SearchCourses{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  
  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">SearchCourses</a>
        </div>
    </nav>
    
    <div class="container">
      <br>
      <div class="progress">
        {% block progressbar %}
        {% endblock %}
      </div>
      <br>
      {% block breadcrumb %}
      {% endblock %}
      <br>
      {% block content %}
      {% endblock %}
    </div>

  </body>

</html>