{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Lista de Cursos</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Nome do Curso</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
        <tr>
          <td>{{ course.name }}</td>
          <td><a href="{{ course.link }}">{{ course.link }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}