{% extends 'base.html' %}

{% block breadcrumb %}
<li class></li> O SearchCourses representa um website que visa ajudar os estudantes a encontrarem cursos gratuitos  de especialização online, auxiliando </li>
<li class></li> na preparação acadêmica, que foi consideravelmente afetada pelos efeitos da pandemia do vírus COVID-19. </li>
<li class></li> Nesse site, o usuário vai para a página de busca e em seguida escolhe alguns parâmetros relativos ao curso que deseja efetuar e o site </li>
<li class></li> seleciona um conjunto de links de cursos, baseados nesses requisitos, que estão disponibilizados nas plataformas mais famosas da web.</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success"> Pesquise Agora! </button>
  </form>
{% endblock %}